body
    margin 0

.app_container
    padding 10px 0
    max-width 800px
    min-width 350px
    margin 0 auto
    text-align center
    background #e4e4e4
    box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

.add-todo
    &__container
        display flex
        flex-wrap wrap
        flex-direction column
        align-items center
        justify-content center
    &__btn
        width 263px
        height 40px
        background #FFF
        color #000
        border none
        transition 0.3s ease-in-out
        &:hover
            cursor pointer
            background #000
            color #FFF
    &__input
        width 250px
        height 40px
        padding-left 10px
        &-error
            margin-bottom 20px
            color red

.todo-list
    &__container
        ul
            padding 0
    &__item
        position relative
        display flex
        padding 10px
        list-style-type none
        &:nth-child(odd)
            background white
        &-checkbox
            &:hover
                cursor pointer
        &-link
            text-decoration none
            color black
            &:hover
                cursor pointer
                color blue

        button
            position absolute
            right 20px
            &:hover
                color red
                cursor pointer